.completed {
  text-decoration: line-through;
}
.todo-item {
  width: 400px;
  height: 30px;
  /* border: 1px solid black; */
  /* border-radius: 4px; */
  color: #8fa8c1;
  /* border-bottom: 1px dotted #8fa8c1; */
  /* text-align: center; */
  margin-top: 5px;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px dotted wheat;
}
/* .list-item > button {
  width: auto;
  height: 60px;
} */
.edit-btn,
.dlt-btn {
  width: 20px;
  height: 20px;
}

.btn-cancel {
  width: 65px;
  height: 25px;
  background-color: #8fa8c1;
}
.btn-save {
  width: 65px;
  height: 25px;
  background-color: #0c5488;
}
.edit-input-field {
  height: 25px;
  width: 218px;
  border-radius: 4px;
  margin: 5px 0;
}
